<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taskapp</title>
</head>
<body>

<h1>タスク作成</h1>
<body>

<h1>新規追加</h1>
<a href="index.html" th:href="@{/}">一覧へ</a>
<form method="post" action="index.html" th:action="@{insert}" th:object="${taskForm}">
    <table border="1">
        <tr>
            <th>ID</th>
            <td>
                <input type="number" name="id" th:field="*{id}">
                <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="error"></div>
            </td>
        </tr>
        <tr>
            <th>タイトル</th>
            <td>
                <input type="text" name="title" th:field="*{title}" placeholder="32文字以内">
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>
            </td>
        </tr>
        <tr>
            <th>内容</th>
            <td>
                <input type="text" name="body" th:field="*{body}" placeholder="1024文字以内">
                <div th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="error"></div>
            </td>
        </tr>
        <tr>
            <th>ステータス</th>
            <td>
                <input type="nunber" name="status" th:field="*{status}" placeholder="数値">
                <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="error"></div>
            </td>
        </tr>
        <tr>
            <th>作成日</th>
            <td>
                <input type="date" name="createdOn" th:field="*{createdOn}" placeholder="uuuu-MM-dd">
                <div th:if="${#fields.hasErrors('createdOn')}" th:errors="*{createdOn}" class="error"></div>
            </td>
        </tr>
    </table>
    <input type="submit" value="登録">
</form>

</body>
</html>